<!DOCTYPE html>
<html lang='pt-br'>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Modelo </title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="estilo.css">
    <style>
		body{
		background-color: rgb(70,142,241);
		font: normal arial 15pt;
		}
		header{
		color: #414141;
		text-align: center;
		}
		section{
		background-color: #fff;
		border-radius: 10px;
		padding:15px;
		width: 500px;
		color:#000;
		margin:0 auto;
		box-shadow: 5px 5px 5px rgb(61, 61, 61);
		}
		footer{
		color: #fff;
		text-align: center;
		}
    </style>
</head>
<body>
    <header>
        <h1>Título</h1>
        <nav>
            <div>
                <a href="http://localhost/postagem/?pagina=admin&metodo=index">
                    admin
                </a>
            </div>
        </nav>
    </header>
    <section>
        <div>
            {{area_dinamica}}
        </div>
        <div>

        </div>
    </section>
    <footer>
        <p>
            copyright
        </p>
    </footer>
    <script src="script.js"></script>
</body>
</html>
